
* {
    font-size: 14px !important;
    font-family: 'MVBoli';
}


@font-face {
    font-family: 'MVBoli';
    src: url('MVBoli.woff') format('woff');
}

.dhivehibas {
    font-family: 'MVBoli';
}

.office-logo{
    float: right;
}

.letter-number{
    /* position: fixed; */
    float: left;
    text-align: left;
    margin-bottom: 25px;
    margin-top:0;
}

.notSigned{
    margin-top: 50px;
    margin-bottom: 10px;
}

.page-header, .page-header-space {
    margin-top: 27px;
    height: 125px;
    margin-bottom: 0;
}

.page-footer, .page-footer-space {
    height: 100px;
}

.stamp{
    position: fixed;
    z-index: -999;
    bottom:100px;
    left:250px;
}
.initials{
    position: fixed;
    z-index: 9999999;
    bottom:40px;
    left:40px;
    font-size:14px !important;
}

p.nobreak { white-space:nowrap;}


/*.initials{*/
/*    position: fixed;*/
/*    z-index: -9999;*/
/*    bottom: 200px;*/
/*    left:30px;*/
/*}*/

/*.flex-grid {*/
/*    display: flex;*/
/*    justify-content: space-between;*/

/*}*/
/*.col {*/
/*    flex: 1;*/
/*    text-align: right;*/
/*}*/


.bismmi{
    text-align: center;
    left:47%;
    top:0;
    position: absolute;
}

/*.main {*/
/*    margin-top: 10px;*/
/*}*/
.pri-stamp{
    clear: left;
    display: block;
    margin-bottom: 15px;
}

.page-number {
    content: "Page " counter(page) " of " counter(pages);
}

.page-header {
    position: fixed;
    top: 3mm;
    width: 100%;
    background-image: url("../img/letter/head.png");
    background-repeat: no-repeat;
    background-size: 570px;
    background-position: center;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: url("../img/letter/foot.png");
    background-repeat: no-repeat;
    background-size: 570px;
    background-position: center;

}

.page {
    page-break-after: always;
    /*width: 570px;*/
    width: 575px;
    padding-right: 45px;
    padding-left: 45px;
    margin-top: 0;
    /*page-break-inside:avoid;*/

}

.approver{
    float: left;
    text-align:center;
}

.reciepients{
    clear: both;
}

table tr {
    width: 100%;
    page-break-inside: avoid;
}

td {
    text-overflow: ellipsis;
    word-wrap: break-word;
    padding: 1px;
}

table {
    overflow: hidden;
    table-layout:fixed;
    border-collapse: collapse;
}



@page {
    size: auto;   /* auto is the initial value */
    /*margin: 20mm;*/
    margin-left: 20mm;
    margin-right: 20mm;
    margin-top: 5mm;
    margin-bottom: 5mm;
}

@media print {
    thead {display: table-header-group;}
    tfoot {display: table-footer-group;}
    button {display: none;}
    body {margin: 0;}
    table { page-break-after:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    td    { page-break-inside:avoid; page-break-after:auto }
}